.footer-container {
  width: 100%;
  padding: 15px 20px 15px;
}
.social-media-icons {
  display: flex;
  justify-content: right;
}
.social-media-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: white;
  margin: 8px;
  border-radius: 50%;
  text-decoration: none;
}
.social-media-icons a i {
  font-size: 18px;
  color: black;
}

.social-media-icons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.social-media-icons a:hover i {
  color: white;
  transition: 0.5s;
}

.footer-bottom {
  background-color: #4d2e3c;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-bottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 500px) {
  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .social-media-icons {
    justify-content: center;
    margin-top: 10px;
  }
}
